FlooringManagerGUI/SpnWebService/SpnWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Jrs-Tech.net/SPNWebSerices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="Jrs-Tech.net/SPNWebSerices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Jrs-Tech.net/SPNWebSerices">
      <s:element name="DownloadPO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStoreNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPoNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadPOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPO2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStoreNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPoNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPO2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadPO2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strStoreNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPoNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPoPdfResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strPdfFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoPdf2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StoreNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPoPdf2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPoPdf2Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="PDFFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosePO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StoreNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosePOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClosePOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchedulePO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StoreNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchedulePOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SchedulePOResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNoteToStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StoreNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PONumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Note" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CopyToSASM" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CopyToExpeditorEmail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNoteToStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendNoteToStoreResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNoteToStoreByNoteID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CopyToSASM" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CopyToExpeditorEmail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNoteToStoreByNoteIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendNoteToStoreByNoteIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNoteToStoreByNoteID2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CopyToSASM" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CopyToExpeditorEmail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendNoteToStoreByNoteID2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendNoteToStoreByNoteID2Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetSettingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DefaultValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadPOSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPO" />
  </wsdl:message>
  <wsdl:message name="DownloadPOSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPOResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPO2SoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPO2" />
  </wsdl:message>
  <wsdl:message name="DownloadPO2SoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPO2Response" />
  </wsdl:message>
  <wsdl:message name="GetPoPdfSoapIn">
    <wsdl:part name="parameters" element="tns:GetPoPdf" />
  </wsdl:message>
  <wsdl:message name="GetPoPdfSoapOut">
    <wsdl:part name="parameters" element="tns:GetPoPdfResponse" />
  </wsdl:message>
  <wsdl:message name="GetPoPdf2SoapIn">
    <wsdl:part name="parameters" element="tns:GetPoPdf2" />
  </wsdl:message>
  <wsdl:message name="GetPoPdf2SoapOut">
    <wsdl:part name="parameters" element="tns:GetPoPdf2Response" />
  </wsdl:message>
  <wsdl:message name="ClosePOSoapIn">
    <wsdl:part name="parameters" element="tns:ClosePO" />
  </wsdl:message>
  <wsdl:message name="ClosePOSoapOut">
    <wsdl:part name="parameters" element="tns:ClosePOResponse" />
  </wsdl:message>
  <wsdl:message name="SchedulePOSoapIn">
    <wsdl:part name="parameters" element="tns:SchedulePO" />
  </wsdl:message>
  <wsdl:message name="SchedulePOSoapOut">
    <wsdl:part name="parameters" element="tns:SchedulePOResponse" />
  </wsdl:message>
  <wsdl:message name="SendNoteToStoreSoapIn">
    <wsdl:part name="parameters" element="tns:SendNoteToStore" />
  </wsdl:message>
  <wsdl:message name="SendNoteToStoreSoapOut">
    <wsdl:part name="parameters" element="tns:SendNoteToStoreResponse" />
  </wsdl:message>
  <wsdl:message name="SendNoteToStoreByNoteIDSoapIn">
    <wsdl:part name="parameters" element="tns:SendNoteToStoreByNoteID" />
  </wsdl:message>
  <wsdl:message name="SendNoteToStoreByNoteIDSoapOut">
    <wsdl:part name="parameters" element="tns:SendNoteToStoreByNoteIDResponse" />
  </wsdl:message>
  <wsdl:message name="SendNoteToStoreByNoteID2SoapIn">
    <wsdl:part name="parameters" element="tns:SendNoteToStoreByNoteID2" />
  </wsdl:message>
  <wsdl:message name="SendNoteToStoreByNoteID2SoapOut">
    <wsdl:part name="parameters" element="tns:SendNoteToStoreByNoteID2Response" />
  </wsdl:message>
  <wsdl:message name="SetSettingSoapIn">
    <wsdl:part name="parameters" element="tns:SetSetting" />
  </wsdl:message>
  <wsdl:message name="SetSettingSoapOut">
    <wsdl:part name="parameters" element="tns:SetSettingResponse" />
  </wsdl:message>
  <wsdl:message name="GetSettingSoapIn">
    <wsdl:part name="parameters" element="tns:GetSetting" />
  </wsdl:message>
  <wsdl:message name="GetSettingSoapOut">
    <wsdl:part name="parameters" element="tns:GetSettingResponse" />
  </wsdl:message>
  <wsdl:portType name="SPNServiceSoap">
    <wsdl:operation name="DownloadPO">
      <wsdl:input message="tns:DownloadPOSoapIn" />
      <wsdl:output message="tns:DownloadPOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPO2">
      <wsdl:input message="tns:DownloadPO2SoapIn" />
      <wsdl:output message="tns:DownloadPO2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPoPdf">
      <wsdl:input message="tns:GetPoPdfSoapIn" />
      <wsdl:output message="tns:GetPoPdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPoPdf2">
      <wsdl:input message="tns:GetPoPdf2SoapIn" />
      <wsdl:output message="tns:GetPoPdf2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosePO">
      <wsdl:input message="tns:ClosePOSoapIn" />
      <wsdl:output message="tns:ClosePOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SchedulePO">
      <wsdl:input message="tns:SchedulePOSoapIn" />
      <wsdl:output message="tns:SchedulePOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStore">
      <wsdl:input message="tns:SendNoteToStoreSoapIn" />
      <wsdl:output message="tns:SendNoteToStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStoreByNoteID">
      <wsdl:input message="tns:SendNoteToStoreByNoteIDSoapIn" />
      <wsdl:output message="tns:SendNoteToStoreByNoteIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStoreByNoteID2">
      <wsdl:input message="tns:SendNoteToStoreByNoteID2SoapIn" />
      <wsdl:output message="tns:SendNoteToStoreByNoteID2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSetting">
      <wsdl:input message="tns:SetSettingSoapIn" />
      <wsdl:output message="tns:SetSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <wsdl:input message="tns:GetSettingSoapIn" />
      <wsdl:output message="tns:GetSettingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPNServiceSoap" type="tns:SPNServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadPO">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/DownloadPO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPO2">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/DownloadPO2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoPdf">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/GetPoPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoPdf2">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/GetPoPdf2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosePO">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/ClosePO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchedulePO">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/SchedulePO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStore">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/SendNoteToStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStoreByNoteID">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/SendNoteToStoreByNoteID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStoreByNoteID2">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/SendNoteToStoreByNoteID2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSetting">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/SetSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <soap:operation soapAction="Jrs-Tech.net/SPNWebSerices/GetSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPNServiceSoap12" type="tns:SPNServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadPO">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/DownloadPO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPO2">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/DownloadPO2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoPdf">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/GetPoPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoPdf2">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/GetPoPdf2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosePO">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/ClosePO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchedulePO">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/SchedulePO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStore">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/SendNoteToStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStoreByNoteID">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/SendNoteToStoreByNoteID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNoteToStoreByNoteID2">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/SendNoteToStoreByNoteID2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSetting">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/SetSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetting">
      <soap12:operation soapAction="Jrs-Tech.net/SPNWebSerices/GetSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPNService">
    <wsdl:port name="SPNServiceSoap" binding="tns:SPNServiceSoap">
      <soap:address location="http://localhost/SPNWebService/SPNWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SPNServiceSoap12" binding="tns:SPNServiceSoap12">
      <soap12:address location="http://localhost/SPNWebService/SPNWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>