FlooringManagerGUI/SOSIWebService/SOSIWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="fusioncomp.com/SOSIWebService" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="fusioncomp.com/SOSIWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="fusioncomp.com/SOSIWebService">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmMeasurePOCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmMeasurePOCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmMeasurePOCancelResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmInstallPOCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmInstallPOCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmInstallPOCancelResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmInstallPOChange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmInstallPOChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmInstallPOChangeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MeasureApptRescheduleWithDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MeasureApptRescheduleWithDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MeasureApptRescheduleWithDateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignReassignMeasureTechnician">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MeasureTechUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignReassignMeasureTechnicianResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignReassignMeasureTechnicianResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MeasureApptCustomerCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MeasureApptCustomerCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MeasureApptCustomerCancellationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MeasureNoteForExpeditor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MeasureNoteForExpeditorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MeasureNoteForExpeditorResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallScheduleUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ReasonCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallScheduleUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InstallScheduleUpdateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallServiceComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallServiceCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InstallServiceCompleteResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallNoteForExpeditor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallNoteForExpeditorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InstallNoteForExpeditorResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyProductReceipt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderSOMerchandiseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyProductReceiptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyProductReceiptResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduleWillCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="WillCallLineNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ScheduledPickUpDateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduleWillCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ScheduleWillCallResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMeasureCapacity">
        <s:complexType />
      </s:element>
      <s:element name="SendMeasureCapacityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMeasureCapacityResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintPO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintPOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrintPOResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmMeasurePOCancelSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmMeasurePOCancel" />
  </wsdl:message>
  <wsdl:message name="ConfirmMeasurePOCancelSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmMeasurePOCancelResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmInstallPOCancelSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmInstallPOCancel" />
  </wsdl:message>
  <wsdl:message name="ConfirmInstallPOCancelSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmInstallPOCancelResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmInstallPOChangeSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmInstallPOChange" />
  </wsdl:message>
  <wsdl:message name="ConfirmInstallPOChangeSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmInstallPOChangeResponse" />
  </wsdl:message>
  <wsdl:message name="MeasureApptRescheduleWithDateSoapIn">
    <wsdl:part name="parameters" element="tns:MeasureApptRescheduleWithDate" />
  </wsdl:message>
  <wsdl:message name="MeasureApptRescheduleWithDateSoapOut">
    <wsdl:part name="parameters" element="tns:MeasureApptRescheduleWithDateResponse" />
  </wsdl:message>
  <wsdl:message name="AssignReassignMeasureTechnicianSoapIn">
    <wsdl:part name="parameters" element="tns:AssignReassignMeasureTechnician" />
  </wsdl:message>
  <wsdl:message name="AssignReassignMeasureTechnicianSoapOut">
    <wsdl:part name="parameters" element="tns:AssignReassignMeasureTechnicianResponse" />
  </wsdl:message>
  <wsdl:message name="MeasureApptCustomerCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:MeasureApptCustomerCancellation" />
  </wsdl:message>
  <wsdl:message name="MeasureApptCustomerCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:MeasureApptCustomerCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="MeasureNoteForExpeditorSoapIn">
    <wsdl:part name="parameters" element="tns:MeasureNoteForExpeditor" />
  </wsdl:message>
  <wsdl:message name="MeasureNoteForExpeditorSoapOut">
    <wsdl:part name="parameters" element="tns:MeasureNoteForExpeditorResponse" />
  </wsdl:message>
  <wsdl:message name="InstallScheduleUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:InstallScheduleUpdate" />
  </wsdl:message>
  <wsdl:message name="InstallScheduleUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:InstallScheduleUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="InstallServiceCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:InstallServiceComplete" />
  </wsdl:message>
  <wsdl:message name="InstallServiceCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:InstallServiceCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="InstallNoteForExpeditorSoapIn">
    <wsdl:part name="parameters" element="tns:InstallNoteForExpeditor" />
  </wsdl:message>
  <wsdl:message name="InstallNoteForExpeditorSoapOut">
    <wsdl:part name="parameters" element="tns:InstallNoteForExpeditorResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyProductReceiptSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyProductReceipt" />
  </wsdl:message>
  <wsdl:message name="VerifyProductReceiptSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyProductReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduleWillCallSoapIn">
    <wsdl:part name="parameters" element="tns:ScheduleWillCall" />
  </wsdl:message>
  <wsdl:message name="ScheduleWillCallSoapOut">
    <wsdl:part name="parameters" element="tns:ScheduleWillCallResponse" />
  </wsdl:message>
  <wsdl:message name="SendMeasureCapacitySoapIn">
    <wsdl:part name="parameters" element="tns:SendMeasureCapacity" />
  </wsdl:message>
  <wsdl:message name="SendMeasureCapacitySoapOut">
    <wsdl:part name="parameters" element="tns:SendMeasureCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="PrintPOSoapIn">
    <wsdl:part name="parameters" element="tns:PrintPO" />
  </wsdl:message>
  <wsdl:message name="PrintPOSoapOut">
    <wsdl:part name="parameters" element="tns:PrintPOResponse" />
  </wsdl:message>
  <wsdl:portType name="SOSIServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmMeasurePOCancel">
      <wsdl:input message="tns:ConfirmMeasurePOCancelSoapIn" />
      <wsdl:output message="tns:ConfirmMeasurePOCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmInstallPOCancel">
      <wsdl:input message="tns:ConfirmInstallPOCancelSoapIn" />
      <wsdl:output message="tns:ConfirmInstallPOCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmInstallPOChange">
      <wsdl:input message="tns:ConfirmInstallPOChangeSoapIn" />
      <wsdl:output message="tns:ConfirmInstallPOChangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MeasureApptRescheduleWithDate">
      <wsdl:input message="tns:MeasureApptRescheduleWithDateSoapIn" />
      <wsdl:output message="tns:MeasureApptRescheduleWithDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignReassignMeasureTechnician">
      <wsdl:input message="tns:AssignReassignMeasureTechnicianSoapIn" />
      <wsdl:output message="tns:AssignReassignMeasureTechnicianSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MeasureApptCustomerCancellation">
      <wsdl:input message="tns:MeasureApptCustomerCancellationSoapIn" />
      <wsdl:output message="tns:MeasureApptCustomerCancellationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MeasureNoteForExpeditor">
      <wsdl:input message="tns:MeasureNoteForExpeditorSoapIn" />
      <wsdl:output message="tns:MeasureNoteForExpeditorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstallScheduleUpdate">
      <wsdl:input message="tns:InstallScheduleUpdateSoapIn" />
      <wsdl:output message="tns:InstallScheduleUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstallServiceComplete">
      <wsdl:input message="tns:InstallServiceCompleteSoapIn" />
      <wsdl:output message="tns:InstallServiceCompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstallNoteForExpeditor">
      <wsdl:input message="tns:InstallNoteForExpeditorSoapIn" />
      <wsdl:output message="tns:InstallNoteForExpeditorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyProductReceipt">
      <wsdl:input message="tns:VerifyProductReceiptSoapIn" />
      <wsdl:output message="tns:VerifyProductReceiptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleWillCall">
      <wsdl:input message="tns:ScheduleWillCallSoapIn" />
      <wsdl:output message="tns:ScheduleWillCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMeasureCapacity">
      <wsdl:input message="tns:SendMeasureCapacitySoapIn" />
      <wsdl:output message="tns:SendMeasureCapacitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintPO">
      <wsdl:input message="tns:PrintPOSoapIn" />
      <wsdl:output message="tns:PrintPOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOSIServiceSoap" type="tns:SOSIServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmMeasurePOCancel">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/ConfirmMeasurePOCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmInstallPOCancel">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/ConfirmInstallPOCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmInstallPOChange">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/ConfirmInstallPOChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MeasureApptRescheduleWithDate">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/MeasureApptRescheduleWithDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignReassignMeasureTechnician">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/AssignReassignMeasureTechnician" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MeasureApptCustomerCancellation">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/MeasureApptCustomerCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MeasureNoteForExpeditor">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/MeasureNoteForExpeditor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallScheduleUpdate">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/InstallScheduleUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallServiceComplete">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/InstallServiceComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallNoteForExpeditor">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/InstallNoteForExpeditor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyProductReceipt">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/VerifyProductReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleWillCall">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/ScheduleWillCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMeasureCapacity">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/SendMeasureCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintPO">
      <soap:operation soapAction="fusioncomp.com/SOSIWebService/PrintPO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOSIService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="SOSIServiceSoap" binding="tns:SOSIServiceSoap">
      <soap:address location="http://localhost/SOSIWebService/SOSIWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>